/* header */
img{
    width: 150px;
}


/* body menu */ 
body{
    background-color: #002B46;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* menu display/navigation page */
.menu {
    display: inline-block;
    padding: 0px 50px;
}

/* navigation list style */
#border{
    border-bottom: 2px solid orange;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding:0.2em 0.6em;
    color: white;
   } 

/* Color for hyperlinks */
a {
    color: white;
  }


/*table formatting*/
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  table {
    border-collapse: collapse;
    width: 20%;
  }


/* index.html formatting */

/* main menu for index.html */
.content {
  max-width: 1150px;
  margin: 40px auto;
  padding: 0 50px;
}

/* Article fortmatting for index.html*/
article{
  text-align: left;
}

#title_index{
  text-align: center;
}

p {
  line-height: 2.5;
  font-size: 1.1em;
}

table {
    border-collapse: collapse;
    width: 20%;
  }

.job:hover {
    background-color: #48b8df;
  }

/* AI generated picture */
.prompt{
    width: 300%;
    max-width: 950px;
    margin: 30px 0;
    border-radius: 10px;
  }

/* tick box */

.index-bullets{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 auto 30px;
    max-width: 10000px;
    line-height: 2;
    font-size: 1.1em;
  
   
   
    
    
}
.index-bullets li::before {
    content: '✔';
    color: #5ecdf8;
    margin-right: 10px;
    
  }

  /* view open jobs menu */

.job {
  background-color: #5ecdf8;
  color: #003a5d;
  padding: 12px 0px ;
  text-decoration: none;
  border-radius: 6px;
  font-weight:bold;
  display:inline-block;
}



  
/* footer formatting */
footer {
    border-top: 2px solid orange;
    clear: both;
    text-align: center;
}

footer p {
    display: inline-block;
    width: 33%;
}

